{%extends 'base.html'%}

{% block content %}
    <div class="container">
        <div class="mt-1" >          
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'images:welcome' %}">Home</a>
              </li>
              {% for location in locations %}
                <li class="nav-item">
                  <a class="nav-link" href="/location/{{location.id}}">{{location.loc_name}}</a>
                </li>
              {% endfor %}            
            </ul>
          </div>      
        <h5 class="text-danger">Image taken in {{loc_name}}</h5>
        <div class="row my-1">
          <div class="col-sm-12 image_gallery">
            
              {% for image in images %}

                  <div class="each-image image{{forloop.counter}}" style="background: url('../..{{image.image.url}}');background-position: center; background-size: cover;" data-toggle="modal" data-target="#modal{{image.id}}">
                    
                  </div>
                  <div class="modal fade" id="modal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-center text-danger" id="exampleModalLabel">{{image.image_name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="{{image.image.url}}" style= "height:40vh; width:70%; margin: 0 auto;" alt="">
                            <p>{{image.image_desc}}</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Copy to clipboard</button>
                          </div>
                        </div>
                      </div>
                    </div>

              {% endfor %}
            
          </div>
      </div>
        
    </div>


{% endblock %}% 